<h2> &nbsp; </h2>
<h2> Name: </h2>
<p class='Lead'> Kanstantsin </p>
<h2> Major: </h2>
<p class='Lead'> <%= @major %> </p>
<h2> Age: </h2>
<p class='Lead'> <%= @age + 7 %> </p>
<h2> Favorite song: </h2>
<p class='Lead'> <%= @favSong %> </p>
<img class="circular"></img>

