<!-- Header -->
<div class="intro-header">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>The Solids</h1>
          <h6>Pa pa pa pa, pa pa pa pa<br/>
Pa pa, da da da da, da da da da da<br/>
Pa pa pa pa, pa pa pa pa<br/>
Pa pa, da da da da, da da da da da<br/>
Pa pa pa pa, pa pa pa pa<br/>
Pa pa, da da da da, da da da da da<br/>
Pa pa pa pa, pa pa pa pa<br/>
Pa pa, da da da da, da da da da da </h6>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Panda </h2>
        <p class="lead"> Don't Say No To Panda</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="http://i.ytimg.com/vi/X21mJh6j9i4/hqdefault.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

